.section {
  padding-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.titleSection {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
